<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Dash</title>
</head>

<body>

<div class="content">
    <ul class="breadcrumbs">
        <li> <a href="/"> Dash</a> </li>
        <li> / </li>
        <li> Courses </li>
    </ul>
    <h1> Courses </h1>

    <section class="dataTable">
        <table class="data">
            <tr>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Course Enrollment</th>
                <th> Department Name
                <th> Actions </th>
            </tr>
            <tr>
                <% courses.forEach(course => { %>
            <tr>
                <td><%= course.Crs_Code %> </td>
                <td><%= course.Crs_Title %> </td>
                <td> <%= course.Crs_Enrollment %> </td>
                <td> <%= course.Dept_Name %> </td>
                <td> <a href="/courses/edit/<%= course.Crs_Code%>"> Edit </a> <a href="/courses/view/<%= course.Crs_Code%>">
                        View </a> </td>
            </tr>
            <% })%>

            <tr>

        </table>
    </section>
</div>

</body>

</html>