<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Dash</title>
</head>

<body>

<div class="content">
    <ul class="breadcrumbs">
        <li> <a href="/"> Dash</a> </li>
        <li> / </li>
        <li> <a href="/departments">Departments</a> </li>
        <li> / </li>
        <li> Update </li>
    </ul>
    <h1> Edit <%= department.Dept_Name%> </h1>
    <h2> <%= message %> </h2>
    <h3>
        <form method="post" class="edit_form">
            <label for="location">Update Location: </label>
            <select class="form-control" name="Dept_Location" id="location" required>
                <option value="IFH Lab" <%= department.Dept_Location === 'IFH Lab' ? 'selected' : '' %>>IFH Lab</option>
                <option value="Building D" <%= department.Dept_Location === 'Building D' ? 'selected' : '' %>>Building D</option>
                <option value="AP Building" <%= department.Dept_Location === 'AP Building' ? 'selected' : '' %>>AP Building</option>
                <option value="Biology Building" <%= department.Dept_Location === 'Biology Building' ? 'selected' : '' %>>Biology Building</option>
                <option value="Humanities Building" <%= department.Dept_Location === 'Humanities Building' ? 'selected' : '' %>>Humanities Building</option>
            </select>

            <br> <input type="submit" value="Update"> </br>
        </form>
        </h1>

</div>

</body>

</html>